* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigator {
    display: flex;
    flex-direction: row-reverse;
}

nav {
    display: flex;
}

li a {
    display: block;
    text-align: center;
    font-family: Open sans;
    font-size: 1.4rem;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2;
}

li a:hover {
    background-color: bisque;
    border-radius: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}